h1, h2{
    color: #9c1011;
}

.tag h2 {
  color: black;
  font-size: 40px;
}

.menu li {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    padding-right: 15px;
    background: #900 url("/images/skins/textures/tiles/red-ao3.png");
    display: relative;
    float: left;
  }
  
  h2, .menu h1 {
    font-weight: 1;
    font-size: 30px;
  }
  
  .search {
      display: block;
    padding-left: 70%;
    float: right;
    border: solid;
    border-width: 0.1px;
    color: black;
  }

.logo {
  height: 40px;
  display: inline;
}

.fandoms {
    width: 40%;
}

.fandoms li, .row2 li {
    list-style-image: url('arrow.png');
    width: 50%;
}

.row2 li {
    float: right;
}

.benefits {
    background-color: rgb(197, 197, 197, 0.46);
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
}

.news {
  width: 40%;
}

.link {
    font-size: 20px;
}

.tag {
    float: right;
    width: 57%;
}

.button {
    text-align: center;
    padding: 10px, 10px;
}

.below {
    text-align: center;
}