h1, h2{
    color: red;
}

.tag h2 {
  color: black;
}

.menu li {
  display: inline;
  background-color: red;
}

.menu h1 {
  font-weight: 1;
}

.search {
  padding: 5px;
  float: right;
  border: solid;
  border-width: 0.1px;
}

.logo {
  height: 40px;
  display: inline;
}