h1, h2{
    color: #9c1011;
}

.tag h2 {
  color: black;
}

.menu li {
  display: inline;
  background-color: red;
}

h2, .menu h1 {
  font-weight: 1;
}

.search {
  padding: 5px;
  float: right;
  border: solid;
  border-width: 0.1px;
}

.logo {
  height: 40px;
  display: inline;
}

.fandoms {
    width: 40%;
}

.fandoms li, .row2 li {
    list-style-image: url('arrow.png');
}

.row2 li {
    transform: scaleX(0.9px);
}

.benefits {
    background-color: rgb(197, 185, 185);
}

.news {
  width: 40%;
}

.tag {
    float: right;
    width: 57%;
}