h1, h2{
    color: #9c1011;
}

.tag h2 {
  color: black;
}

.menu li {
  display: inline;
  background-color: red;
}

h2, .menu h1 {
  font-weight: 1;
}

.search {
  padding: 5px;
  float: right;
  border: solid;
  border-width: 0.1px;
}

.logo {
  height: 40px;
  display: inline;
}

.fandoms li, .row2 li {
    list-style-image: url('arrow.png');
}

.news {
  width: 50%;
}
