h1, h2{
    color: #9c1011;
}

.tag h2 {
  color: black;
  font-size: 40px;
}

.menu li {
  display: block;
  background-color: red;
}

h2, .menu h1 {
  font-weight: 1;
}

.search {
  padding: 5px;
  float: right;
  border: solid;
  border-width: 0.1px;
}

.logo {
  height: 40px;
  display: inline;
}

.fandoms {
    width: 40%;
}

.fandoms li, .row2 li {
    list-style-image: url('arrow.png');
    width: 50%;
}

.row2 li {
    float: right;
}

.benefits {
    background-color: rgb(197, 197, 197, 0.46);
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
}

.news {
  width: 40%;
}

.link {
    font-size: 20px;
}

.tag {
    float: right;
    width: 57%;
}

.button {
    text-align: center;
}

.below {
    text-align: center;
}